* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: background-color, color 0.2s ease-in-out;
}

:root {
  --border-radius: 4rem;
  --text-color: #333;
  --text-color-night: #ffffffec;
}

.main-container {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  padding: 6rem;
}

.main-container-bg {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(122, 167, 126, 0.27);
  border-radius: var(--border-radius);
}

.app-container {
  display: grid;
  grid-template-areas: "nav-container map";
  grid-template-columns: auto 1fr;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.nav-container {
  grid-area: nav-container;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: #ffffffeb;
  border-radius: 3rem 0 0 3rem;

  &.night {
    background-color: #00000069;
  }
}

.title {
  font-size: 3rem;
  font-weight: 800;
  margin-block: 1rem 0;
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #7a7a7a5e;

  &.night {
    color: var(--text-color-night);
  }
}

.layer-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-block: 1rem;
  color: var(--text-color);
  text-align: left;
  border-radius: var(--border-radius);
  border: none;
  padding: 1rem;
  user-select: none;
  transition: all 0.2s ease-in-out;
  &.night {
    color: var(--text-color-night);
  }
  & img.night {
    filter: invert(1);
  }
  &:hover {
    background-color: #ffffffee;
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
    background-color: #ffffffee;
  }
  &.active {
    background-color: #ffffffee;
  }
  &.night {
    &:hover,
    &:active,
    &.active {
      background-color: #0000004f;
    }
  }
}

/* Target all Folium maps */
.folium-map {
  border-radius: 0 3rem 3rem 0;
}
.call-button {
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.02);
    text-decoration: none;
    color: var(--text-color-night);
  }
  &:active {
    transform: scale(0.98);
    text-decoration: none;
    color: var(--text-color-night);
  }
}

.day-night {
  display: flex;
  width: fit-content;
  & .day-icon {
    display: block;
  }
  & .night-icon {
    display: none;
  }
  &.night {
    & .day-icon {
      display: none;
    }
    & .night-icon {
      display: block;
    }
  }
}

.symbol-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  & button {
    margin: 0;
  }
}

.call-options {
  display: none;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  & button {
    background-color: #333;
    color: var(--text-color-night);
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;

    &:hover {
      background-color: #555;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  & p.night {
    color: var(--text-color-night);
  }

  &.night {
    background-color: transparent;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &[style*="display: flex"] {
    animation: fadeIn 0.3s ease-in-out;
  }
}
