<!DOCTYPE html>
<html>
<head>
    <title>RetrieverSafe</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
{{header|safe}}
<body>
    <div class="main-container">
        <div class="main-container-bg">

            <div class="app-container">
    
                <div class="nav-container">
                    <h1 class="title">RetrieverSafe</h1>
                    <button class="layer-button" layer="lamp" onclick="toggleLamps()"><img src="{{ url_for('static', filename='lamp-icon.svg') }}" alt="Lamps">Lamps</button>
                    <button class="layer-button" layer="sos" onclick="toggleSOS()"><img src="{{ url_for('static', filename='emergency-resources-icon.svg') }}" alt="Emergency Resources">Emergency Resources</button>
                    <button class="layer-button" layer="construction" onclick="toggleConstruction()"><img src="{{ url_for('static', filename='construction-closures-icon.svg') }}" alt="Construction Closures">Construction Closures</button>
                    <button class="layer-button" layer="lactation" onclick="toggleLactation()"><img src="{{ url_for('static', filename='lactation-rooms-icon.svg') }}" alt="Lactation Rooms">Lactation Rooms</button>
                    <button class="layer-button" layer="familyRestrooms" onclick="toggleFamilyRestrooms()"><img src="{{ url_for('static', filename='family-friendly-restrooms-icon.svg') }}" alt="Family Friendly Restrooms">Family Friendly Restrooms</button>
                    <button class="layer-button" layer="accessibilityRoutes" onclick="toggleAccessibilityRoutes()"><img src="{{ url_for('static', filename='family-friendly-restrooms-icon.svg') }}" alt="Handicap Accessible Routes">Handicap Accessible Routes</button>
                    
                    <button class="layer-button day-night" onclick="toggleDayNight()"><img class="day-icon" src="{{ url_for('static', filename='day-mode-icon.svg') }}" alt="Day Mode"><img class="night-icon" src="{{ url_for('static', filename='night-mode-icon.svg') }}" alt="Night Mode"></button>
                    <a href="javascript:void(0);" class="call-button" onclick="showCallOptions()">Call Campus Police</a>
                    <div id="callOptionsModal" class="modal">
                        <div class="modal-content">
                            <p>Choose an option: <span class="close" onclick="closeModal()">&times;</span></p>
                            <button onclick="reportSuspiciousBehavior()">Report Suspicious Behavior</button>
                            <button onclick="requestEscort()">Request Escort</button>
                            <button onclick="reportCrime()">Report Crime</button>
                        </div>
                    </div>
                </div>
                {{body_html|safe}}
    
            </div>
        </div>
    </div>
    <script>
        {{script|safe}}

        var map = window['{{ map_name }}'];
        var layers = {
            lamp: window['{{ lamp_layer_name }}'],
            sos: window['{{ sos_layer_name }}'],
            construction: window['{{ construction_layer_name }}'],
            lactation: window['{{ lactation_layer_name }}'],
            familyRestrooms: window['{{ family_restrooms_layer_name }}'],
            accessibilityRoutes: window['{{ accessibility_layer_name }}'],
            day_tile: window['{{ day_tile_name }}'],
            night_tile: window['{{ night_tile_name }}'],
        };

        // Generic toggle function
        function toggleLayer(layer) {
            if (map.hasLayer(layer)) {
                map.removeLayer(layer);
            } else {
                map.addLayer(layer);
            }
        }

        // Specific toggle functions
        function toggleLamps() {
            toggleLayer(layers.lamp);
            const button = document.querySelector(`button[layer="lamp"]`);
            if (button) {
                button.classList.toggle('active');
            }
        }

        function toggleSOS() {
            toggleLayer(layers.sos);
            const button = document.querySelector(`button[layer="sos"]`);
            if (button) {
                button.classList.toggle('active');
            }
        }

        function toggleConstruction() {
            toggleLayer(layers.construction);
            const button = document.querySelector(`button[layer="construction"]`);
            if (button) {
                button.classList.toggle('active');
            }
        }

        function toggleLactation() {
            toggleLayer(layers.lactation);
            const button = document.querySelector(`button[layer="lactation"]`);
            if (button) {
                button.classList.toggle('active');
            }
        }

        function toggleFamilyRestrooms() {
            toggleLayer(layers.familyRestrooms);
            const button = document.querySelector(`button[layer="familyRestrooms"]`);
            if (button) {
                button.classList.toggle('active');
            }
        }

        function toggleAccessibilityRoutes() {
            toggleLayer(layers.accessibilityRoutes);
            const button = document.querySelector(`button[layer="accessibilityRoutes"]`);
            if (button) {
                button.classList.toggle('active');
            }
        }

        // Define toggle function for Day/Night Mode
        function toggleDayNight() {
            const allElements = document.getElementsByTagName('*');
            if (map.hasLayer(layers.day_tile)) {
                map.removeLayer(layers.day_tile);
                map.addLayer(layers.night_tile);
                for (let element of allElements) {
                    element.classList.add('night');
                }
            } else {
                map.removeLayer(layers.night_tile);
                map.addLayer(layers.day_tile);
                for (let element of allElements) {
                    element.classList.remove('night');
                }
            }
        }

        function showCallOptions() {
            document.getElementById('callOptionsModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('callOptionsModal').style.display = 'none';
        }

        function reportSuspiciousBehavior() {
            if (confirm("Are you sure you want to report suspicious behavior?")) {
                window.location.href = "tel:4108924881"; // Replace with actual number
            }
        }

        function requestEscort() {
            if (confirm("Are you sure you want to request an escort?")) {
                window.location.href = "tel:4108924882"; // Replace with actual number
            }
        }

        function reportCrime() {
            if (confirm("Are you sure you want to report a crime?")) {
                window.location.href = "tel:4108924883"; // Replace with actual number
            }
        }
    </script>
<body>
</html>